.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: #A94A4A;
  height:978px;
}

.button-container {
  margin-top:200px;
  margin-bottom: 50px;
}

button {
  font-size: 20px;
  margin-left: 10px;
  border-radius:7px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-family: "Merienda", light;
}

button:hover{
  background-color: burlywood;
}

.page-content {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  width: 80%;
  max-width: 500px;
  background-color: #f9f9f9;
}
